body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    background-color: #F4F1F4;
    padding: 0;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #108db8;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.game-image {
    max-height: 300px;
    width: auto;
    display: flex;
    margin:auto;
}

nav {
    padding-left: 20px;
}

nav a {
    color: black;
    padding: 1rem;
    display: inline-block;
}

.content {
    padding: 1rem;
    width: auto;
    display: flex;
    padding: 20px;
    justify-content: center;

}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 20px;
    height: 300px;
    width: 200px;
    background: #FFF;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-image {
    margin: auto;
    max-height: 200px;
    width: 100%;
}

.card-image-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    height: 200px;
    display: flex;
}

.text-container {
    text-shadow: 0 1px 2px rgba(8,0,0,0.20);
    color: #3D3F40;
    height: 100px;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.style-none {
    list-style: none;
}

.m-8 {
    margin: 2rem;
}

@-ms-viewport {
    width: device-width;
}
.container{
    background: #fff;
    border-radius: 10px;
    max-width:860px;
    margin:0 auto;
    padding:15px;
}
.game-title{
    font-size:30px;
    text-shadow: 0 1px 1px rgba(8,0,0,0.20);
    color: #3D3F40;
    text-align: center;
    letter-spacing: 1.2px;
}
.game-description{
    font-family: "Open sans";
}
.content-center{
    display: flex;
    justify-content: center;
}
input{
    height: 2rem;
    font-size: 1.5em;
}
.pre-line{
    white-space: pre-line;
}